{% set neighborhoods %}{{ location.data.neighborhoods }}{% endset %}
<div class="location {{ neighborhoods | classify }}">
	<h2><a href="{{ location.data.url }}">{{ location.data.title }}</a></h2>
	{{ location.templateContent | smartquotes | safe }}
	<span class="emoji" role="img" aria-label="{{ location.data.emoji.label }}">{{ location.data.emoji.character }}</span>
</div>
